body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  flex: 1;
}
.site-container{
  min-height: 100vh;
}

.products{
  display: flex;
  flex-direction: nowrap;
  justify-content: center;
}

.product{
  border: 1px black solid;
  margin: 1rem;
  
}

.product img{
  width: 100%;
}

.rating span{
  color: gold;
}

.btn{
  background-color: gold;
  color: black;
}

.img-large{
  max-width: 100%;
}

.advertisement{
  background-color: black;
}

.news-header{
  background-color: black;
  text-align: center;
  padding: 10px 64px;
  color: #cecece

}